.clearance_container {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  justify-content: center;
  padding: 20px 50px 20px 50px;
}
.radio {
  font-size: 1.25rem;
  color: var(--color);
}
.form-control {
  color: black;
}
