@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
.dashboard,
.profile,
.progress,
.notification {
  display: flex;
  height: 98vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
/* 
.form-control {
  text-align: left !important;
  color: rgba(0, 0, 0, 0.8) !important;
} */
